body {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

#header-main-div{
background-color: #0F4905;
height: 13vh;
display: flex;
justify-content: space-between;
}

#pantry-main-logo{
  height:10vh;
  padding-top: 10px;
  margin-left: 20px;
}

#nav-bar{
  display: flex;
  width: 35vw;
  justify-content: space-around;
  margin-top: 25px;
}

.nav-bar-links{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  height: 25px;
  margin-right: 20px;
  position: relative
}


.nav-bar-links::before {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: #FF5F05;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}




.nav-bar-links:hover::before {
  transform: scaleX(1);
}

#landing-main{
  display: flex;
  justify-content: space-between;
}

#landing-img{
  height: 75vh;
}

#landing-blurb-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 30px;
}

#landing-blurb{
  height: 100px;
  font-size: 70px;
  font-weight: bold;
  color: #0F4905;
  margin-bottom: 15px;
}

.button {
  background-color: white;
  border: solid 1px #0F4905;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  color: #0F4905;
  font-size: 15px;
}

.button:hover{
  border-width: 2px;
  font-weight: bold;
}

#landing-button{
  height: 35px;
  width: 300px;
  font-size: 25px;

  margin-top: 10px;
}


#landing-button:hover{
 font-weight: 700;
 border: #0F4905 solid 2px;
}

#landing-button-div{
  width: 43vw;
}

#footer-main-div{
height: 7vw;
background-color: #0F4905;
display: flex;
color: white;
padding-left: 30px;
align-items: center;
}

#register-main-div{
  min-height: 73vh;
}

#register-content-container{
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-title{
  font-weight: bold;
  font-size: 30px;
  color:#0F4905;
  margin-bottom: 10px;
}

#register-form{
  margin-top: 5px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.user-input{
  height: 30px;
  color: #0F4905;
  border: #0F4905 solid 1px;
  margin-bottom: 15px;
  font-size: 17px;
}

.user-input-label{
  color: #0F4905;
}

#register-button-div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#already-reg{
  color:#FF5F05;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 20px;
}

#already-reg:hover{
  color:#b45016;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 20px;
}

#login-main-div{
  min-height: 73vh;
}

#dashboard-main-div{
  min-height: 73vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

#main-shelf{
  min-height: 73vh;
  width: 80vw;
}

.item-image{
  height: 150px;
  width: 150px;
}

#main-shelf{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}

.item{
  margin: 15px;
}

.item-name{
  color: #0F4905;
  margin-top: 3px;
  margin-bottom: 0px;
}

.item-name:hover{
font-weight: bold;
}

.shared-by{
  margin-top: 0px;
  color:#0F4905;

}

#dashboard-title{
  color:#0F4905;
}

#single-food-main{
  height: 73vh;
  display: flex;
  margin-top: 30px;
}

#single-product-image{
  height: 60vh;
}

#single-food-left{
  margin-left: 40px;
}

#single-food-name{
  color:#0F4905
}

#single-food-right{
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

#single-food-desc{
  color: #0F4905;
  font-size: 17px;
}

#traded-by{
  font-size: 17px;
  color: #FF5F05;
  font-weight: 500;
}

#swap-main{
  min-height: 73vh;
  display: flex;
  margin-bottom: 30px;
}

#swap-requests{
  width: 70vw;
}

#grocery-list{
  margin-top: 10vh;
  border: solid 1px #0F4905;
  color:#0F4905;
  width: 20vw;
  height: 50vh;
}

#add-grocery{
  display: flex;
  justify-content: space-around;
}

#grocery-button{
  width: 100px;
}

#grocery-item{
  width: 150px;
  margin-left: 10px;
}

#grocery-item-list{
  height: 35vh;
  margin-top: 3px;
}

#grocery-list-title{
  font-weight: 500;
  margin-left: 15px;
  font-size: 17px;
  margin-bottom: 3px;
}

#swap-requests{
  margin-left: 30px;
  
}

.swap-request{
  border: solid 1px #0F4905;
  width: 60vw;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  color:#0F4905;
  font-weight: 500;
}

#swap-reply{
  width: 50vw;
}

#swap-reply-input{
  width: 40vw;
  color: #0F4905;
  border-color: #0F4905;
  border-width: 1px;
  height: 25px;
  margin-right: 15px;
  padding-left: 10px;
}

::placeholder{
  color: #0F4905;
}

#swap-requests-title{
  font-size: 25px;
  color: #0F4905;
  font-weight: bold;
}

#search-bar{
  width: 30vw;
  height: 25px;
  margin-right: 1vw;
  padding-left: 5px;
  font-size: 15px;
  border: solid 1px #0F4905;
}

#location-search{
  width: 10vw;
  height: 25px;
  padding-left: 5px;
  margin-right: 1vw;
  font-size: 15px;
  border: solid 1px #0F4905;
}

#search-button{
  width: 8vw;
}