body {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

#header-main-div{
background-color: #0F4905;
height: 13vh;
display: flex;
justify-content: space-between;
}

#pantry-main-logo{
  height:10vh;
  padding-top: 10px;
  margin-left: 20px;
}

#nav-bar{
  display: flex;
  width: 35vw;
  justify-content: space-around;
  margin-top: 25px;
}

.nav-bar-links{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  height: 25px;
  margin-right: 20px;
  position: relative
}


.nav-bar-links::before {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: #FF5F05;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}




.nav-bar-links:hover::before {
  transform: scaleX(1);
}

#landing-main{
  display: flex;
  justify-content: space-between;
}

#landing-img{
  height: 75vh;
}

#landing-blurb-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 30px;
}

#landing-blurb{
  height: 100px;
  font-size: 70px;
  font-weight: bold;
  color: #0F4905;
  margin-bottom: 15px;
}

.button {
  background-color: white;
  border: solid 1px #0F4905;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  color: #0F4905;
  font-size: 15px;
}

.button:hover{
  background-color: #0F4905;
  color: white;
  
}

#landing-button{
  height: 45px;
  width: 300px;
  font-size: 30px;
}


#landing-button:hover{
 font-weight: 700;
 border: #0F4905 solid 2px;
}

#landing-button-div{
  width: 43vw;
}

#footer-main-div{
height: 7vw;
background-color: #0F4905;
display: flex;
color: white;
padding-left: 30px;
align-items: center;
}

#register-main-div{
  min-height: 73vh;
}

#register-content-container{
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-title{
  font-weight: bold;
  font-size: 30px;
  color:#0F4905;
  margin-bottom: 10px;
}

#register-form{
  margin-top: 5px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.user-input{
  height: 30px;
  color: #0F4905;
  border: #0F4905 solid 1px;
  margin-bottom: 15px;
  font-size: 17px;
}

.user-input-label{
  color: #0F4905;
}

#register-button-div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#already-reg{
  color:#FF5F05;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 20px;
}

#already-reg:hover{
  color:#b45016;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 20px;
}

#login-main-div{
  min-height: 73vh;
}

#dashboard-main-div{
  min-height: 73vh;
  display: flex;
  justify-content: center;
}

#main-shelf{
  min-height: 73vh;
  width: 80vw;
}

.item-image{
  height: 200px;
  width: 200px;
}

#main-shelf{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color:#7d411b;
  padding-left: 30px;
}

.item{
  margin-right: 30px;
  margin-top: 30px;
}